@import url("https://fonts.googleapis.com/css?family=Modak&display=swap");

html,
body {
  background-image: linear-gradient(to bottom, #2081c3, #b1ddf1);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
